/* Reset some basic styles */
* {
    box-sizing: border-box;
}

.sidebar {
    padding: 0px;
    margin: 0px;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    background: rgb(19, 19, 32);
    overflow: hidden;
    padding: 16px;
    z-index: 10;
    border: 1px solid #333;

  }
  
  .sidebar-content {
    display: flex;
    flex-direction: column;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      width: 100% !important; /* Full width on small screens */
      height: auto;
      min-width: 100px;
    }
  }

/* Navbar styles */

.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.navbar-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.logo-img {
    width: 40px; /* Adjust size as needed */
    height: auto;
    margin-right: 10px; /* Space between image and text */
}

.logo-text {
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Customize font family */
}

.navbar-logo:hover {
    color: #ffde03;
}

.navbar-menu {
    padding: 0px;
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    align-items: center;
}

.navbar-item {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
}

.navbar-link {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
    position: relative;
    padding: 0.5rem 0;
    width: 100%;
    display: block;
}

.navbar-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 25%;
    background-color: #ffde03;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.navbar-link:hover::before {
    visibility: visible;
    width: 50%;
}

.navbar-link:hover {
    color: #ffde03;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar {
        width: 100%;
        height: auto;
        position: static;
    }

    .menu-icon {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
        font-size: 1.8rem;
        cursor: pointer;
        color: #fff;
    }

    .navbar-menu {
        flex-direction: column;
        width: 100%;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-item {
        margin: 0;
        width: 100%;
        border-right: 2px solid #333;
    }

    .navbar-link {
        padding: 1rem;
    }
}
